.task-header {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  &__main {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 4%;
  }
  &__step {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #212122;
    font-style: normal;
    font-weight: normal;
  }
  &__chat {
    font-size: 15px;
    line-height: 18px;
    color: #212122;
    display: flex;
    right: 15px;
    top: 40px;
  }
  &__chat-number {
    margin-left: 6px;
  }
}

.sub-header {
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #757575;
}
