.info-wrapper {
  margin: 24px auto;
  display: flex;
  justify-content: center;
}


.task-one {
  width: 864px;
  height: 924px;
  margin: 0 auto;
  display: block;
}

.task-block {
  position: relative;
  margin: 0 auto;
  &__default {
    height: 924px;
  }
  &__choose {
    height: 1174px;
  }
}

.response {
  position: absolute;
  bottom: 4px;
  left: 4px;
  width: 854px;
}