.module-overview {
  position: fixed;
  top: 112px;
  left: 32px;
  width: 800px;
  opacity: 1;

  &__header {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: #FFFFFF;
    line-height: 40px;
    margin-bottom: 4px;
  }

  &__subhead {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    opacity: 0.5;
    margin-bottom: 16px;
  }
}

.module-container {
  &__controls {
    position: relative;
    width: 421px;
    height: 56px;
    margin-bottom: 16px;
  }

  &__controls-image {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__description {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
    max-width: 592px;
  }
}
