*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.app {
  font-family: Roboto, sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #212122;
}

.overlay {
  opacity: 0.3;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url('/module-cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.viewport {
  border-radius: 10px;
  align-self: center;
}

.overlay-tasks {
  width: 100vw;
  min-height: 100vh;
  background-color: #FAFBFC;
}
