.content {
  width: 800px;
  height: 730px;

  position: relative;

  &__header-container {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  &__cards {
    height: calc(730px - 108px);
  }
}

.header-container {
  padding-top: 10px;
  color: #FFFFFF;

  &__welcome {
    font-style: normal;
    font-weight: normal;
    margin: 0;
    margin-bottom: 4px;
    font-size: 15px;
    line-height: 22px;
  }

  &__module-name {
    font-style: normal;
    font-weight: normal;
    margin: 0;
    margin-bottom: 32px;
    font-size: 36px;
    line-height: 40px;
  }
}

.card__text {
  &--big {
    padding: 20px 24px 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
  }
}

.card__image {
  &--big {
    display: inline-block
  }
}

.card__label {
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: #FFFFFF;
}
