.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #212122
}

.overlay {
  opacity: 0.3;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url('/module-cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.viewport {
  width: 800px;
  height: 730px;
  border-radius: 10px;
  align-self: center;
}

.content {
  position: relative;

  &__header-container {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  &__cards {
    height: calc(730px - 108px);
  }
}

.header-container {
  padding-top: 10px;
  color: #FFFFFF;

  &__welcome {
    font-style: normal;
    font-weight: normal;
    margin: 0;
    margin-bottom: 4px;
    font-size: 15px;
    line-height: 22px;
  }

  &__module-name {
    font-style: normal;
    font-weight: normal;
    margin: 0;
    margin-bottom: 32px;
    font-size: 36px;
    line-height: 40px;
  }
}

.card__text {
  &--big {
    padding: 20px 24px 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
  }
}

.card__image {
  &--big {
    display: inline-block
  }
}

.card__label {
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: #FFFFFF;
}
